
<form class="form-wrapper cf">
  <input type="text" placeholder="input image url..." id="image_url" required>
  <button (click)="searchCelebs('image_url')">Search</button>
</form>


<div *ngFor="let celeb of celebs" class="card">
  <div class="celeb-container">
    <h4><b (click)="searchMovies(celeb.name)">{{celeb.name}}</b> </h4>
    <p>{{celeb.prob}}</p>
  </div>
</div>

<div *ngFor="let movie of movies" class="movie-container">
  <img src="{{ movie.poster }}">
  <p>Title: {{ movie.title }}</p>
  <p>Rating: {{ movie.rating }}</p>
</div>

